<!-- Footer Section -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are an online marketplace offering a wide range of products to cater to your shopping needs. Shop with us and enjoy the best deals and discounts.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="/products">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/user/cart">My Cart</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
            <li><a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>&copy; 2024 Shopping App. All rights reserved.</p>
      </div>
    </div>
  </footer>
  